apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
  labels:
    app: {{ .Values.app.name }}
data:
  FLASK_ENV: {{ .Values.env.flaskEnv | quote }}
  LOG_LEVEL: {{ .Values.env.logLevel | quote }}

