version: '3.8'

services:
  web:
    build: .
    image: edenc/flask-app:latest
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
    volumes:
      - .:/app
    restart: unless-stopped
