app:
  name: flask-app

image:
  repository: eden2404/flask-app
  tag: latest
  pullPolicy: IfNotPresent

replicaCount: 2

containerPort: 5000

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

service:
  type: NodePort
  port: 80
  targetPort: 5000
  nodePort: 30080

env:
  flaskEnv: production
  logLevel: info

hpa:
  enabled: true
  minReplicas: 4
  maxReplicas: 12
  targetCPUUtilization: 70

cronjobs:
  enabled: true

  healthCheck:
    schedule: "*/5 * * * *"
    image: curlimages/curl:latest
    serviceUrl: http://flask-app-service

  metricsReport:
    schedule: "0 * * * *"
    image: curlimages/curl:latest
    serviceUrl: http://flask-app-service

  logRotation:
    schedule: "0 0 * * 0"
    image: busybox

